**/node_modules
**/.git
**/Dockerfile
Dockerfile
**/.gitignore
.gitignore
**/.dockerignore
.dockerignore
**/.idea
**/.env.example
**/.prettierrc
**/jest.config.ts
**/tests
**/benchmarks
backend/db/*
!backend/db/migrate.ts
**/.env
**/dist
